<ul>


    <li><a routerLink="/photos">Photos</a></li>
    <li><a routerLink="/posts">Posts</a></li>
    <li><a routerLink="/users">users</a></li>
    <li><a routerLink="/comment_posts">Add a user</a></li>
    <li><a routerLink="/todos">todos</a></li>
    <li><a routerLink="/login">Log-in</a></li>
    <div>hello {{userSrv.demoCurentUser}}</div>

    <!-- <li><a>hello {{thisU.currentUserDemo}}</a></li> -->
   
    <li class="dropdown">

        <div class="dropdown-content">

        </div>
    </li>
</ul>