







<div class="first-line">
    <button mat-button [matMenuTriggerFor]="menu">
        Menu
    </button>
   
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" >Search</span>
        </div>
        <input type="text" class="input-search"
         aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          (input)="getTodosBySearch()">
    </div>
    <mat-menu #menu="matMenu">
        <button class="menu" mat-menu-item
         (click)="getAllTodos()">
            all todos
        </button>
        <button *ngIf="userSrv.currentUser"
         class="menu" mat-menu-item
          (click)="getTodosByUserIds(userSrv.currentUser.id)">
            todo from the user
        </button>
    </mat-menu>
</div>


<div>
    <div class="panel-list" >

        <div *ngFor="let t of todosList">
            <todo [todo]="t"></todo>
        </div>
    </div>
</div>
