.panel-list >div{
    padding: 1vw;
    margin: 3vw;
    background-color: rgb(233, 140, 186);
    border: solid purple;
    border-radius: 25px;
    transition: all 1s;
}
button{
    display: inline-block;
    font-size: 3vw;
    margin: 1vw;
    padding: 1vw;
   
    border: rgb(78, 126, 5);
    background-color: rgb(157, 161, 159);
}
.menu {
    font-size: 3vw;
    margin: 1vw;
    padding: 1vw;
    border: rgb(78, 126, 5);
    background-color: rgb(219, 240, 228);
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}
.input-group{
    left: 25% ;
}
.first-line{
    display: flex;
    justify-content: space-between;
}
