<p>comment-posts works!</p>


<div class="form-user">
<h2>Add a new User</h2>
<form [formGroup]="newUserForm" (ngSubmit)="newUserForm_onSubmit()">
    <div class="form-group">
        <label for="exampleInputEmail1">id</label>
        <input type="number" class="form-control" formControlName="id" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">name</label>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">username</label>
        <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">email</label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


 